* {
    margin: 0;
    padding:0;
    border:0;
}


.row1 img{
    border-radius: 50%;
}
.row2 img{
    border-radius: 50%;
}
.row3 img{
    border-radius: 50%;

}
.row h2{
    color: rgb(216, 154, 193);
}
 

.box{
    min-height: 100vh;
    max-width:100%;
}
.row{
    display: flex;
    
    
    flex-direction: column;
    gap: 20px;

}
.content{
    place-self: center;
}
.content h6{
    display: flex;
    text-align: center;
    justify-content: center;
    
   
    padding-top: 30px;
}




.row1{
    height:150px;
    width:590px;
    background-color: pink;
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 35px;
    padding-left: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    place-self: center;

}
.row2{
    height:150px;
    width:590px;
    background-color: rgba(255, 255, 0, 0.44);
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 35px ;
    padding-left: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    place-self: center;
   
}

.row3{
    height:150px;
    width:570px;
    background-color: aqua;
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 35px;
    padding-left: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  place-self: center;

   
}


